* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
    scroll-behavior: smooth;
}
boby{
    overflow-x: hidden;
}
nav {
    position: fixed;
    top: 0;
    left: 0;
    background-color: rgb(255, 255, 255);
    width: 100%;
    height: 70px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    box-shadow: 0px 3px 10px rgba(0, 0, 0, 0.781);
    z-index: 999;
    animation: fromTop 2s ease-in-out;
}

@keyframes fromTop {
    0% {
        transform: translateY(-70px);
    }
    100% {
        transform: translateX(0px);
    }
}


.wrap-img {
    width: 30%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.wrap-links {
    width: 70%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10%;
}

.wrap-links a {
    text-decoration: none;
    color: #000000;
    font-weight: bold;
    transition: all 200ms ease-in-out;

}

.wrap-links a:hover {
    text-decoration: underline;
    color: #ffffff;

}

.logo {
    width: 110px;
    height: 110px;
    margin-top: 50px;
}

#s1 {

    min-height: 100vh;
    padding-top: 80px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.left {
    width: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    animation: fromRight 500ms ease-in-out;
}

@keyframes fromLeft {
    0% {
        transform: translateX(-100px);
        opacity: 0;

    }

    100% {
        transform: translateX(0px);
        opacity: 1;
    }
}

.right {
    width: 400px;
    animation: fromLeft 500ms ease-in-out;
}

@keyframes fromRight {
    0% {
        transform: translateX(100px);
        opacity: 0;

    }

    100% {
        transform: translateX(0px);
        opacity: 1;
    }
}

.wrap-banner {
    border-radius: 998px;
    overflow: hidden;
    width: 350px;
    height: 350px;
}

.wrap-banner img {
    width: 350px;
    height: 350px;
}

.wrap-banner img {
    width: 350px;
    height: 350px;
    filter: grayscale(1);
    transition: all 200ms ease-in-out;
}

.wrap-banner img:hover {
    filter: grayscale(0);
    transform: scale(1.1);
}

.right h1 {
    font-size: 48px;
    width: 100%;
}

.right p {
    font-size: 18px;
    width: 100%;
}

#s2 {

    min-height: 100vh;
    padding-top: 80px;
    display: flex;
    flex-direction: column;
    align-self: center;
    justify-content: center;
    gap: 4vh;
}

.wrap-cards{
    display: flex;
    flex-wrap:wrap ;
    align-items: center;
    justify-content: center;
    gap: 20px;

}

.card{
    width: 400px;
    padding: 20px;
    border: 2px solid black;
    border-radius: 20px;
    display: flex;
    flex-direction: column;
    align-content: center;
    justify-content: center;
}

.card img{
    margin-bottom: 20px;
    transition: all 200ms linear;
    border-radius: 16px;
}

.card:hover img{
    transform: scale(1.2);
    box-shadow: 0px 3px 20px #09090976;
}

#s3 {
    min-height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    padding-top: 50px;
}

#s3 iframe {
    width: 769px;
    height: 440px;
}

.wrap-video {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

#s4 {
    min-height: 100vh;
    padding-top: 80px;
    width: 80%;
    margin: 0 auto;
    background-color: #f4f4f4;
    padding: 15px;
    border:1px solid #ccc;
    .card:hover img{
    transform: scale(1.2);
    box-shadow: 0px 3px 20px #09090976;
}

#s3 {
    min-height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    padding-top: 50px;
}
}

@media (width <=768px) {
    nav {
        flex-direction: column;
        height: auto;
        padding-bottom: 15px;
    }

    .wrap-links a {
        text-align: center;
    }

        .logo {
            width: 60px;
            height: 60px;
            margin-top: 0;
        }

        #s1 {
            flex-direction: column;
            padding-top: 140px;
        }

        .left {
            width: 100%;
        }

        .right {
            width: 100%;
            text-align: center;
        }

        .wrap-banner {
            width: 350px;
            height: 250px;
        }

        .wrap-banner img {
            width: 250px;
            height: 250px;
        }

 #s3 {
        min-height: 50vh;
        width: auto;
        width: 100%;
    }
    
    #s3 iframe{
        width: 100%;
    }
    }