*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
    scroll-behavior: smooth;
}
nav{
    position: fixed;
    top: 0;
    left: 0;
    background-color: rgb(255, 255, 255);
    width: 100%;
    height: 70px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    box-shadow: 0px 3px 10px rgba(0, 0 , 0, 0.475);
    z-index: 999;
}
.wrap-img{
    width: 30%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}
.wrap-links{
    width: 70%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10%;
}
.wrap-links a{
    text-decoration: none;
    color: #0a1a5f;
    font-weight: bold;
    transition: all 200ms ease-in-out;

}
.wrap-links a:hover{
    text-decoration: underline;
    color: #051444;

}
.logo{
    width: 110px;
    height: 110px;
    margin-top: 50px;
}
#s1{
   
    min-height: 100vh;
    padding-top: 80px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.left{
    width: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.right{
    width: 359px;
}
.wrap-banner{
    border-radius: 998px;
    overflow: hidden;
    width: 350px;
    height: 350px;
}

.wrap-banner img{
    width: 350px;
    height: 350px;
}
.wrap-banner img{
    width: 350px;
    height: 350px;
    filter: grayscale(1);
    transition: all 200ms ease-in-out;
}
.wrap-banner img:hover{
    filter: grayscale(0);
    transform: scale(1.1);
}

.right h1{
    font-size: 48px;
    width: 100%;
}

.right p{
    font-size: 18px;
    width: 100%;
}

#s2{
   
    min-height: 100vh;
    padding-top: 80px;

}
#s3{
   
    min-height: 100vh;
    padding-top: 80px;
}
#s4{
    min-height: 100vh;
    padding-top: 80px;
}

@media (width <= 768px){
   nav{
    flex-direction: column;
    height: auto;
    padding-bottom: 15px;
   }
   .wrap-links a{
    text-align: center;
   } 
   #s1, #s2, #s3, #s4, #s5{
    padding: 50px;
    min-height: 50vh;
    height: auto;
   }
   
.logo{
        width: 60px;
        height: 60px;
        margin-top: 0;
    }
    #s1{
        flex-direction: column;
        padding-top:140px;
    }
    .left{
        width: 100%;
    }
    .right{
        width: 100%;
        text-align: center;
    }
.wrap-banner{
   width: 350px;
   height: 250px;
}

.wrap-banner img{
    width: 300px;
    height: 300px;

}

}
